streamlit
ultralytics==8.1.0
opencv-python-headless==4.7.0.72
matplotlib
Pillow
numpy<2
pandas
torch==2.0.1+cpu
torchvision==0.15.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html
streamlit-drawable-canvas
